[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "themes/blackburn"]
	path = themes/blackburn
	url = git@github.com:yoshiharuyamashita/blackburn.git
[submodule "public"]
	path = public
	url = git@github.com:svekars/svekars.github.io.git
	branch = master
[submodule "themes/docdock"]
	path = themes/docdock
	url = https://github.com/vjeantet/hugo-theme-docdock.git
